.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 48px;
  gap: 10px;
  width: 192px;
  height: 58px;
  left: 301px;
  background: #195a00;
  border-radius: 6px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  cursor: pointer;

  /* fffffff */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
